# 构建产物
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
Plugins/*/Binaries/
Plugins/*/Intermediate/

# Visual Studio
*.sln
*.vcxproj*
*.vcxproj.filters
*.suo
*.user
*.userprefs

# Rider
.idea/
*.idea/

# VS Code
.vscode/

# 临时文件
*.sdf
*.ipch
*.opendb
*.aps
*.log
FileOpenOrder*.txt

# 本地化缓存
LocalBuilds/

# Windows
*.exe
*.pdb
*.lib
*.dll

# Android
*.apk
*.keystore
*.aab

# iOS
*.ipa
*.xcuserstate
*.xcworkspace

*.uprojectdirs
*.uprojectlocks

Plugins/*/Resources/
Plugins/*/Config/
Plugins/*/Content/ThirdParty/

